<div class="navbar">

    <a [routerLink]="['agenda']">AGENDA</a>

    <a [routerLink]="['contacto']">CONTACTO</a>

    <a [routerLink]="['datos']">DATOS</a>

    <a [routerLink]="['home']">INICIO</a>
</div>
