* {
  box-sizing: border-box;
}


.navbar {
  position: fixed;
  overflow: hidden;
  background-color: rgba(73, 14, 14, 0.5);
  width: 100%;
}

.navbar a {
  text-shadow: 2px 2px white;
  float: right;
  display: block;
  color: rgb(73, 14, 14);
  text-align: center;
  padding: 15px 40px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
