.contenedor{
  background-image: linear-gradient(
    to right, rgba(34, 9, 9, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%
    ),
    url(../../../assets/img/organizacion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: cursive;  padding: 2%;
  color: white;
}

h1 {
  height: 500px;
  color: white;
}


td{
  color: rgb(255, 255, 255);
  font-family: cursive;
  text-align: center;
}
.dato-corto{
  width: 9%;
  color: white;
}



.example-container {
  height: 400px;
  overflow: auto;
}

/* .btn{
  margin: 0 6%;
  text-align: center;
}  */

.mat-form-field {
  font-size: 14px;
  width: 90%;
  margin: 0 5%;
  color: white;

}
.example-container {
  height: 450px;
  overflow: auto;
}

mat-label {
  color: white;
  font-size: 18px;
}

table {
  font-size: 13%;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, 0.4);
 
}

section{
  width: 90%;
  margin: 3% auto;
}
.tabla{
  display: flex;
  margin: 2% 3%;
  
}

th{
  color: white;
  font-family: cursive;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: rgb(70, 1, 1);
  }

  td{
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-size: 14px;
  }

  .arriba h1{
    display: inline;
    font-weight: 300;
    font-size: 9vh;
    font-family: cursive;  }
/* .btn{
  background-color: rgb(70, 1, 1);
  display: inline;
  float: right;
  width: 15%;
  height: 2.3rem;
} */

.arriba{
  padding: 40px;
  display: inline-block;
  justify-content: space-between;
  /* width: 100%; */
}

.btn {
  width: 15%;
  height: 2.3rem;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgb(70, 1, 1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px rgb(255, 255, 255);
}

.btn:hover {background-color: #4e0f0f}

.btn:active {
  background-color: rgb(70, 1, 1);
  box-shadow: 0 2px rgb(0, 0, 0);
  transform: translateY(2px);
}
  