<div id="contenedor" id="menu1">
  <!---------------------Educacion---------------------->
  <div class="fondo">
  <div class="info aca">
    <h2>Formación</h2>

      <div class="back">
        <p class="lugar">Primaria</p>
        <p>Unidad Educativa San Antonio   "2009-2015"</p>

        <p class="lugar">Secundaria</p>
        <p>Unidad Educativa San Antonio   "2016-2018"</p>
        <p>Unidad Educativa Técnico Humanístico Fátima   "2019-2021"</p>

        <p class="lugar">Técnico medio en Diseño Gráfico</p>
        <p>Unidad Educativa Técnico Humanístico Fátima   "2019-2021"</p>

        <p class="lugar">Capacitacion en Desarrollo de Aplicaciones Web</p>
        <p>Solaning Capacitacion   "en curso"</p>
      </div>
      </div>
  </div>


  <div class="fondo2">
    <div  class="lado-der">
      <h2>Competencias</h2>

      <p>Adaptabilidad</p>
      <p>Capacidad de trabajar en equipo.</p>
      <p>Conocimiento en el manejo de programas de Adobe.</p>
      <p>Conocimiento en el manejo de programas de Office.</p>

    </div>
  </div>


  <div class="fondo">
    <div class="info aca">
      <h2>
        EDUCACION COMPLEMENTARIA
      </h2>

          <strong>Macros,VBA Excel y Programacion Orientada a Objetos</strong>
          <p>Solaning S.R.L (2022) <br> Duracion:48 horas</p>

  
    </div>
  </div>



  <!-- ------------------IDIOMAS------------------ -->
  <div class="fondo2">
    <div class="lado-der ">
      <h2>Idiomas</h2>

          <p><b>Ingles:</b> Basico</p>
          <p><b>Español:</b> Nativo</p>
  </div>
</div>