<div id="portada">
<br> <br><br>
  <div id="datos">
    <strong id="nombre">José Mijael Rocha Vera</strong>
<br><br><br>
    <ul>
    <li>
      <i class="fa-solid fa-phone whatsapp" ></i>
      <br>
      <b>WhatsApp:</b>
          65505143
    </li>

    <li>
      <i class="fa-solid fa-location-dot"></i>
      <br>
      <b>Direccion:</b> 
      <br>
      Av.Panamericana 
    </li>

    <li>
      <i class="fa-solid fa-envelope"></i><br>
      <b>Correo Electronico:</b>
      <br>
      josemijaelrochavera666@gmail.com
    </li>

    <li>
      <i class="fa-solid fa-calendar"></i><br>
      <b>Fecha de Nacimiento:</b>
      <br>
      06/01/2004
    </li>
  </ul>

  <br><br><br><br>
  
    <div  class="sobre-mi">
      <h3>Sobre mi</h3>
      <p> 

<br>

        Soy una persona comprometida y con muchas ganas de adquirir nuevos conocimientos. Me apasiona programar y aprender
        mas respecto a los temas de tecnologia y programacion.
        <br>
        Gracias a mis competencias y mi motivacion lograre cada vez mejores resultados en el area profesional
      </p>
    </div>
  </div>

  <div id="foto-port">
    <img src="../../../assets/img/foto-perfil.jpg" alt="foto-perfil">
  </div>
</div>
